<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create Your LinkTree Page</title>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
  background-image: linear-gradient(to bottom right, #a1c4fd, #c2e9fb);
}

body.layout2 {
  background-image: linear-gradient(to bottom right, #ffd6a5, #faaca8);
}

body.layout3 {
  background-image: linear-gradient(to bottom right, #ffdde1, #e0bbff);
}

body.layout4 {
  background-image: linear-gradient(to bottom right, #f6e9d2, #ffce84);
}

body.layout5 {
  background-image: linear-gradient(to bottom right, #ff8a84, #ffaaaa);
}

body.layout6 {
  background-image: linear-gradient(to bottom right, #a3d8f4, #b1cbbb);
}

body.layout7 {
  background-image: linear-gradient(to bottom right, #b0dab9, #e1eec3);
}

body.layout8 {
  background-image: linear-gradient(to bottom right, #fdd6bd, #ffaaaa);
}

body.layout9 {
  background-image: linear-gradient(to bottom right, #ddd6f3, #faaca8);
}

body.layout10 {
  background-image: linear-gradient(to bottom right, #a8e6ce, #dcedc1);
}

body.layout11 {
  background-image: linear-gradient(to bottom right, #a2d2ff, #cff2ff);
}

body.layout12 {
  background-image: linear-gradient(to bottom right, #ffe9b9, #fff3e3);
}

body.layout13 {
  background-image: linear-gradient(to bottom right, #bce6eb, #fed6e3);
}

body.layout14 {
  background-image: linear-gradient(to bottom right, #ffd3b5, #ffaaa6, #ff8b94, #ff6988, #ff5f8d);
}

body.layout15 {
  background-image: linear-gradient(to bottom right, #a7e9ff, #fed6e3);
}

        /* Add more styles for other layouts here */
    </style>
</head>
<body class="layout1" style="background-size: cover;
  background-repeat: no-repeat;background-size: 400% 400%;">

    <div class="container mt-5">
        <h1>Create Your LinkTree Page</h1>
        <form method="POST" action="/dashboard/create" enctype="multipart/form-data">
            <div class="form-group">
                <label for="layout">Select a layout:</label>
                <select name="layout" class="form-control">
                    <option value="" disabled selected>Select a layout</option>
                    <option value="layout1">Ocean Breeze</option>
                    <option value="layout2">Apricot Dream</option>
                    <option value="layout3">Cotton Candy</option>
                    <option value="layout4">Lemon Sorbet</option>
                    <option value="layout5">Coral Crush</option>
                    <option value="layout6">Blue Lagoon</option>
                    <option value="layout7">Minty Fresh</option>
                    <option value="layout8">Peach Paradise</option>
                    <option value="layout9">Lavender Bliss</option>
                    <option value="layout10">Blue Sky</option>
                    <option value="layout11">Rase Garden</option>
                    <option value="layout12">Lavender Fields</option>
                    <option value="layout13">Mint and Lavender</option>
                    <option value="layout14">Peach and Pink</option>
                    <option value="layout15">SkyBlue and Pink</option>
                </select>
            </div>
          <br>
          <div style="display:flex;justify-content:center;align-items:center;">OR</div>
          <br>
 <div class="form-group mb-3">
      <label for="image" class="form-label">Select Background Image:</label>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="profileBg" accept="image/*">
          <label class="custom-file-label">Choose file</label>
        </div>
      </div>
 </div>    
          
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      <div style="display:flex;justify-content:center;align-items:center; margin-top: 20px;">Note: Background Image will be given first preference.</div>
    </div>

    <script>
        const layoutSelect = document.querySelector('[name="layout"]');
        const body = document.querySelector('body');
        
        layoutSelect.addEventListener('change', function() {
            body.className = this.value;
        });
$(document).ready(function() {
  $(document).on("change", ".custom-file-input", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
  $('.custom-file-input').change(function() {
    var file = $(this)[0].files[0];
    var reader = new FileReader();
    reader.onload = function(e) {
      $('body').css({
        'background-image': 'url(' + e.target.result + ')',
        'background-repeat': 'no-repeat',
        'background-size': 'cover',
        'min-height': '100%'
      });
    }
    reader.readAsDataURL(file);
  });
});
    </script>
</body>
</html>
