<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <link href="https://linkly.bio/themes/altum/assets/css/bootstrap.min.css?v=3010" id="css_theme_style" rel="stylesheet" media="screen,print">
                    <link href="https://linkly.bio/themes/altum/assets/css/custom.css?v=3010" rel="stylesheet" media="screen,print">
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-Xp0KZ8kB+xt9c3qAnQqlNzjBn/w8W/hzTnzv/axtTzLj/TF8WkX9q3dUpmepgPtztCJ8w/YMYp+AdhKl1r34Eg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <style>
      body {
  background: linear-gradient(to bottom right, #ffc3a0, #ffafbd, #bad4ff, #ffd4f4, #ffc3a0);
  background-size: cover;
  background-repeat: no-repeat;
  animation: gradient 10s ease infinite;
  
    background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


      .card {
        margin: 0 auto;
        margin-top: 10vh;
        margin-bottom: 55px;
        padding: 20px;
      background-color: rgba(255, 255, 255, 0.5); /* transparent white background */
  backdrop-filter: blur(50px); 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        max-width: 500px;
      }

      .form-title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }

      .form-group {
        margin-bottom: 20px;
      }

      .form-label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
      }

      .form-control {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        color: #333;
      }

      .btn-register {
        display: block;
        width: 100%;
        height: 40px;
        background-color: #FF69B4;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.2s;
      }

      .btn-register:hover {
        background-color: #FF1493;
      }

      .link-login {
        display: block;
        margin-top: 20px;
        text-align: center;
        color: #FF69B4;
        font-weight: bold;
      }
    </style>

  </head>
  <body>

    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand font-weight-bold" href="/" data-logo data-light-value="https://media.discordapp.net/attachments/890149366499786762/1080403877729411142/Picsart_23-03-01_13-39-47-754-removebg-preview.png" data-light-class="img-fluid navbar-logo" data-dark-value="https://linkly.bio/uploads/main/56a197f7f2b48fff93363c8515d00770.png" data-dark-class="img-fluid navbar-logo">
    <img src="https://media.discordapp.net/attachments/890149366499786762/1080474790466437181/Picsart_23-03-01_18-30-07-204.png" class="img-fluid navbar-logo" alt="Website Logo" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-close-icon d-none"><i class="fa fa-times"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>


      <div class="card">
        <div class="form-title">Login</div>
        <form method="POST" action="/auth/login">
          
          <div class="form-group">
            <label for="email" class="form-label">Email</label>
          <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-register">Login</button>
        <a href="/auth/register" class="link-login">New to Linkly? Register here.</a>
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://linkly.bio/themes/altum/assets/js/libraries/jquery.min.js?v=3010"></script>
</body>
</html>
