<!DOCTYPE html>
<html lang="en">
        <head>
    <!-- Google tag (gtag.js) -->    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5VS05V8C4F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());  gtag('config', 'G-5VS05V8C4F');
    </script>
    <title>LinkMe - Networking Just Got An Upgrade | Link in Bio App</title>
    <meta name="description" content="LinkMe is Your New Link in Bio. Its bridges the gap between all your profiles. All your links & info are in one place. Scan. Link. Shout! Download App now.">
    <meta name="keywords" content="LinkMe, Your New Link in Bio, LinkMe Mobile app, linkme android app, linkme ios app, linkme mobile app, linkme android app link, linkme ios app link, Your New Link in Bio, Bio link app, Link in bio">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="canonical" href="https://link.me/"/>    
    <link href="https://link.me/public/frontend/business/images/me_192.png" rel="shortcut icon" type="image/png" />
    <!-- fonts -->
    <link href="https://link.me/public/frontend/business/fonts/graphik/stylesheet.css" rel="stylesheet" media="print" onload="this.media='all'">

    <!-- icon -->

    <!-- bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="plugin/bootstrap/css/bootstrap.css"> -->
    <link rel="stylesheet" type="text/css" href="https://link.me/public/frontend/business/plugin/hover-animation/hover.css">
    <link rel="stylesheet" type="text/css" href="https://link.me/public/frontend/business/plugin/aos/aos.css">

    <!-- style -->
    <link rel="stylesheet" type="text/css" href="https://link.me/public/frontend/business/css/fullwidth_v1.min.css">
    <link rel="stylesheet" type="text/css" href="https://link.me/public/frontend/business/css/style1_v1.min.css">
    <link rel="stylesheet" href="https://link.me/public/frontend/business/css/responsive6_v1.min.css">

    <!-- jquery -->
    <script src="https://link.me/public/frontend/business/plugin/jquery/jquery-3.4.1.min.js"></script>        
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "LinkMe | Link, Network, Shout!",
      "operatingSystem": "Requires iOS 13.0 or later. Compatible with iPhone, iPad, and iPod touch.",
      "applicationCategory": "Social Networking",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.8",
        "ratingCount": "2032"
      },
      "offers": {
        "@type": "Offer",
        "price": "0",
        "category":"free"
      }
    }
    </script>
</head>
<body>        <header>
	<div class="custom-container">
		<div class="maindivheaderpart">
			<div class="leftpart">
				<div class="menumaindiv">
					<div class="menubarmain">
						<span class="first"></span>	
						<span class="second"></span>	
					</div>
					<div class="menubarlistmaindiv" style="display: none;">
						<div class="overlaymenu"></div>
						<div class="maindivmenubar">
							<div class="closemenubar">
								<!-- <img src="images/svg/close.svg"  alt=""> -->
							</div>
							<div class="menulist">
								<ul>
								<li><a href="https://link.me">Home</a></li>
								<li><a href="https://about.link.me">About Us</a></li>
								<li><a href="https://about.link.me/ourmission">Our Mission</a></li>
								<li><a href="https://about.link.me/business">Business</a></li>
								<li><a href="https://ambassador.link.me">Ambassadors</a></li>
								<!--<li><a href="javascript:;">Features</a></li>-->
								<li><a href="https://about.link.me/contact">Contact</a></li>
								<li><a href="https://shop.link.me">Shop</a></li>
								<!--<li><a href="javascript:;">Help</a></li>-->
								<li><a href="https://about.link.me/privacypolicy">Privacy Policy </a></li>
								<li><a href="https://about.link.me/termsandconditions">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="logomaindiv">
					<img src="https://link.me/public/frontend/business/images/svg/logo.svg" alt="Linkme Logo">
				</div>
			</div>
			<div class="rightpart">
				<div class="getappheaderbtnmaindiv hvr-pulse">
					<a>Get the app</a>
				</div>
			</div>
		</div>
	</div>
</header>                      
        <link rel="stylesheet" href="https://link.me/public/frontend/business/plugin/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="https://link.me/public/frontend/business/plugin/owlcarousel/owl.theme.default.min.css">
<div class="bannersecmaindiv mainsection" data-id="1">
    <div class="bglight">
        <div class="firstbg"></div>
        <div class="secondbg"></div>
        <div class="thirdbg"></div>
        <div class="fourthbg"></div>
    </div>
    <div class="custom-container">
        <div class="bannermaindiv">
            <div class="leftpart">
                <div class="bannertextdiv">
                    
                        <img src="https://link.me/public/frontend/business/images/homebanner.svg" alt="Networking Just Got An Upgrade.">
                </div>
                <div class="downloadstorebtndiv">
                    <div class="commonstorebtn appstorebtn hvr-pulse" data-aos="zoom-in" data-aos-anchor-placement="top-bottom">
                        <a href="https://apps.apple.com/us/app/linkme-link-network-shout/id1577810510" target="_blank">
                            <picture>
                                <img src="https://link.me/public/frontend/business/images/compressedpng/appstorebtn.png" class="lazy" alt="Download on the App Store">
                            </picture>
                        </a>
                    </div>
                    <div class="commonstorebtn playstorebtn hvr-pulse" data-aos="zoom-in" data-aos-anchor-placement="top-bottom">
                        <a href="https://play.google.com/store/apps/details?id=com.linkme" target="_blank">
                            <picture class="">
                                <img src="https://link.me/public/frontend/business/images/compressedpng/playstorebtn.png" alt="Download on the App Store" class="lazy">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="bannerrightimgdiv">
                    <picture>
                        <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/bn-all.webp">
                        <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/bn-all.png">
                        <img src="https://link.me/public/frontend/business/images/compressedpng/bn-all.png" alt="Jessica Jet (@jessjet) on Linkme" class="first lazy" data-aos="fade-left" data-aos-duration="1000">
                    </picture>
                    <picture >
                        <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/Option12_new.webp">
                        <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/Option12_new.png">
                        <img src="https://link.me/public/frontend/business/images/compressedpng/Option12_new.png" alt="Your Code" class="second lazy" data-aos="fade-left" data-aos-duration="500" style="border-radius: 15px !important;">
                    </picture>
                    <span class="thirdimgspan" data-aos="zoom-in" data-aos-anchor-placement="top-bottom">
                        <picture >
                            <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/bn-all-2.webp">
                            <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/bn-all-2.png">
                            <img src="https://link.me/public/frontend/business/images/compressedpng/bn-all-2.png" alt="Scan QR Code" class="third lazy">
                        </picture>
                    </span>
                </div>
                <div class="appcounterdiv">
                    <div class="impressionsdiv" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="top-bottom">
                        <p class="count">100 million +</p>
                        <p class="title">Impressions</p>
                    </div>
                    <div class="ambassadorsdiv" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
                        <p class="count">500,000 +</p>
                        <p class="title">Ambassadors</p>
                    </div>
                    <div class="countriesdiv" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
                        <p class="count">180+</p>
                        <p class="title">Countries</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="videosecmaindiv mainsection" data-id="2">
    <div class="videooverlaydiv topvideooverlaydiv">
        <picture >
            <img src="https://link.me/public/frontend/business/images/compressedpng/play.png" alt="Play Button" class="hvr-pulse playbtn topplaypause lazy" id="topplaypause">
        </picture>
        <picture>            
            <source type="image/jpeg" media="(min-width: 1400px)" srcset="https://link.me/public/frontend/business/images/compressedpng/videobg_1440.jpg">            
            <source type="image/jpeg" media="(min-width: 1250px)" srcset="https://link.me/public/frontend/business/images/compressedpng/videobg_1280.jpg">
            <source type="image/jpeg" media="(min-width: 1000px)" srcset="https://link.me/public/frontend/business/images/compressedpng/videobg_1024.jpg">
            <source type="image/jpeg" media="(min-width: 750px)" srcset="https://link.me/public/frontend/business/images/compressedpng/videobg_768.jpg">
            <source type="image/jpeg" media="(min-width: 500px)" srcset="https://link.me/public/frontend/business/images/compressedpng/videobg_550.jpg">
            <source type="image/jpeg" media="(min-width: 200px)" srcset="https://link.me/public/frontend/business/images/compressedpng/videobg_420.jpg">            
            <img src="https://link.me/public/frontend/business/images/compressedpng/videobg_420.jpg" alt="Connect with new people on a daily basis" class="backgroundbg lazy">
        </picture>
    </div>
    <div class="videotag topvideotag" style="display:none;">
        <video playsinline="" preload="none" controls="" id="toppopupvideo">
            <source src="https://s3linkme.s3.amazonaws.com/webvideos/youtube.mp4" type="video/mp4">
        </video>
    </div>
</div>
<div class="networkingpeoplemaindiv mainsection" data-id="3">
    <div class="bglight">
        <div class="firstbg"></div>
        <div class="secondbg"></div>
    </div>
    <div class="custom-container">
        <div class="networkingpeoplediv">
            <div class="leftpart">
                <picture >
                    <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/network-mainimg.webp">
                    <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/network-mainimg.png">
                    <img src="https://link.me/public/frontend/business/images/compressedpng/network-mainimg.png" alt="Valeria Arguelles" class="first lazy" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
                </picture>
                <picture >
                    <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/network-mainimg-1.webp">
                    <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/network-mainimg-1.png">
                    <img src="https://link.me/public/frontend/business/images/compressedpng/network-mainimg-1.png" alt="Shouting on LinkMe" class="second lazy" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
                </picture>
                <span class="thirdimgspan" data-aos="zoom-in" data-aos-anchor-placement="top-bottom">
                    <picture >
                        <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/network-mainimg-2.webp">
                        <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/network-mainimg-2.png">
                        <img src="https://link.me/public/frontend/business/images/compressedpng/network-mainimg-2.png" alt="Grow your network with LinkMe" class="third lazy">
                    </picture>
                </span>
            </div>
            <div class="rightpart">
                <div class="connectioncount" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <picture class="">
                        <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/network-connection.webp">
                        <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/network-connection.png">
                        <img src="https://link.me/public/frontend/business/images/compressedpng/network-connection.png" alt="Connect with Linkme" class="lazy">
                    </picture>
                    <p>91</p>
                </div>
                <div class="titlediv" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <p>Networking with people around the world has never been easier.</p>
                </div>
                <div class="descriptiondiv" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <p>LinkMe allows users to Shout messages, images, and videos to people around the globe. Instantly grow your business or personal brand with our Shout feed algorithm. </p>
                </div>
                <div class="shoutingandlikediv" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <div class="shoutmessdiv">
                        <div class="afterimg" style="background-image:url(https://link.me/public/frontend/business/images/network-messarrow.png);"></div>
                        <p class="shoutmess">“Shouting on LinkMe has brought me so many incredible modeling opportunities”</p>
                        <p class="shoutby">- Valeria Arguelles</p>
                    </div>
                    <div class="likediv" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <picture class="">
                            <img src="https://link.me/public/frontend/business/images/compressedpng/network-like.png" alt="LinkMe likes" class="lazy">
                        </picture>
                        <p>168 k</p>
                    </div>
                </div>
                <div class="commentshoutdiv" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <picture class="">
                        <img src="https://link.me/public/frontend/business/images/compressedpng/network-message.png" alt="LinkMe messages" class="lazy">
                    </picture>
                    <p>693</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gogreenmaindiv mainsection" data-id="4">
    <div class="custom-container">
        <div class="gogreendiv">
            <div class="leftpart">
                <picture >
                    <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/gogreen.webp">
                    <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/gogreen.png">
                    <img src="https://link.me/public/frontend/business/images/compressedpng/gogreen.png" alt="" class="gogreenimg lazy" data-aos="zoom-in">
                </picture>
                <div class="boxofgogreen first" data-aos="fade-right">
                    <p class="first">7M</p>
                    <p class="second">trees can be saved each year by switching to LinkMe</p>
                </div>
                <div class="boxofgogreen second" data-aos="fade-up">
                    <p class="first">42%</p>
                    <p class="second">of wood harvested globally is used to make paper</p>
                </div>
            </div>
            <div class="rightpart">
                <div>
                    <p class="first" data-aos="fade-up">Go Green.</p>
                    <p class="second" data-aos="fade-up">Every day there are 27 million business cards printed, and <b>every year there are 7 million trees chopped down</b> to make those cards. The world loses almost six million hectares of forest each year to deforestation, over 12 million football fields in size.</p>
                    <p class="second" data-aos="fade-up">Today we have the technology to switch from paper to digital. By switching to digital business cards, you're doing your part in saving our planet.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="linkinbiomaindiv mainsection" data-id="5">
    <div class="custom-container">
        <div class="linkinbiodiv">
            <div class="leftpart">
                <div class="titlebio" data-aos="fade-up">
                    <p>your new link in bio.</p>
                </div>
                <div class="descriptionbio" data-aos="fade-up">
                    <p>Impress your followers with the world's most incredible link-in bio solution. Share all your social media profiles and important links with your fully customizable LinkMe profile.</p>
                </div>
            </div>
            <div class="rightpart">
                <picture>
                    <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/linkinbio.webp">
                    <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/linkinbio.png">
                    <img src="https://link.me/public/frontend/business/images/compressedpng/linkinbio.png" alt="Your new link in bio" data-aos="fade-up-left" class="lazy">
                </picture>
                <div class="downloadcontact">
                    <a href="javascript:;" class="addcontact hvr-pulse" data-aos="zoom-in">Add to contacts</a>
                    <a href="javascript:;" class="downloadlink hvr-pulse" data-aos="zoom-in">Download & Link</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="allplatformsmaindiv mainsection" data-id="6">
    <div class="custom-container">
        <div class="allplatformsdiv">
            <div class="titleallplatform" data-aos="fade-up">
                <p>All your Platforms in one Place.</p>
            </div>
            <div class="iconscrollingdiv" data-aos="fade-up">
                <img src="https://link.me/public/frontend/business/images/social/frame.png" class="frameimg" alt="All your platform in one place">
                <div class="owl-carousel owl-theme">
                                                            <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/1.png" alt="Youtube" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/2.png" alt="Tiktok" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/3.png" alt="Instagram" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/4.png" alt="Snapchat" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/5.png" alt="Facebook" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/6.png" alt="Whatsapp" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/twitter.png" alt="Twitter" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/8.png" alt="Twitch" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/9.png" alt="Spotify" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/10.png" alt="SoundCloud" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/11.png" alt="Skype" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/12.png" alt="Reddit" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/13.png" alt="Pinterest" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/14.png" alt="PayPal" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/15.png" alt="LinkedIn" class="lazy">
                                                    </picture>
                    </div>
                                        <div class="item">
                        <picture>
                                                        <img loading="lazy" src="https://link.me/public/frontend/business/images/social/16.png" alt="Discord" class="lazy">
                                                    </picture>
                    </div>
                                    </div>
                <div class="overlaybg">
                    <div class="firstbg"></div>
                    <div class="secondbg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="unlockcreativitymaindiv mainsection" data-id="7">
    <div class="custom-container">
        <div class="unlockcreativitydiv">
            <div class="leftpart">
                <video loop="true" autoplay="autoplay" muted>
                    <source src="https://link.me/public/frontend/business/images/video16.mp4" type="video/mp4">
                </video>
                <div class="share-icon-wrap">
                    <a href="">
                        <img src="https://link.me/public/design/images/Rocket64.png">
                    </a>
                </div>
                <div class="right-slide-list">
                    <ul>
                        <li class="user-img">
                            <a href="">
                                <img src="https://link.me/public/design/images/jacob-718_small64.png">
                                <div class="right-slide-plush-icon">
                                    <img src="https://link.me/public/design/images/Group1898_small64.png">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://link.me/public/design/images/Group1324_64.png"> 
                                <span>57.1 K</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://link.me/public/design/images/Heart64.png"> 
                                <span>57.1 K</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://link.me/public/design/images/Chat64.png">
                                <span>57.1 K</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://link.me/public/design/images/Frame64.png"> 
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="video-bottom-menu">
                    <ul>
                        <li>
                            <a href="">
                                <img src="https://link.me/public/design/images/Vector2_small64.png">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://link.me/public/design/images/Ellipse2_64.png">
                            </a>
                        </li>
                        <li class="user-img">
                            <a href="">
                                <img src="https://link.me/public/design/images/Group_113.png">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://link.me/public/design/images/Vector1_64.png">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://link.me/public/design/images/Vector64.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rightpart">
                <p class="first" data-aos="fade-up">Unlock Creativity with shouts.</p>
                <p class="second" data-aos="fade-up">LinkMe allows users to Shout messages, images, and videos to people around the globe. Instantly grow your business or personal brand with our Shout feed algorithm. </p>
            </div>
        </div>
    </div>
</div>
<div class="conversationmaindiv mainsection" data-id="8">
    <div class="custom-container">
        <div class="conversationdiv">
            <div class="leftpart">
                <p class="first" data-aos="fade-up">Start a conversation </p>
                <p class="second" data-aos="fade-up">Chat with people around the world directly on LinkMe. No need to leave LinkMe for direct communication. Start a conversation right on the app.</p>
            </div>
            <div class="rightpart">
                <picture class="">
                    <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/conversation.webp">
                    <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/conversation.png">
                    <img src="https://link.me/public/frontend/business/images/compressedpng/conversation.png" alt="Linkme conversation" data-aos="zoom-in" class="lazy">
                </picture>
            </div>
        </div>
    </div>
</div>
<div class="bestplacemaindiv mainsection" data-id="9">
    <div class="custom-container">
        <div class="bestplacediv">
            <div class="leftpart">
                <picture>
                    <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/bestplace.webp">
                    <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/bestplace.png">
                    <img src="https://link.me/public/frontend/business/images/compressedpng/bestplace.png" alt="Grow Your Audience with Linkme" data-aos="zoom-in" data-aos-duration="1000" class="first lazy">
                </picture>
                <picture  >
                    <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/bestplace-1.webp">
                    <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/bestplace-1.png">
                    <img src="https://link.me/public/frontend/business/images/compressedpng/bestplace-1.png" alt="Advantage of Linkme" data-aos="zoom-in" data-aos-duration="2000" class="second lazy">
                </picture>
            </div>
            <div class="rightpart">
                <div>
                    <p class="first" data-aos="fade-up">The Best New Place to Grow Your Audience.</p>
                    <p class="second" data-aos="fade-up">LinkMe creators are growing incredibly fast by taking advantage of our Shout feed algorithm.</p>
                    <a class="third hvr-pulse" href="javascript:;" data-aos="fade-up">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bonusesmaindiv mainsection" data-id="10">
    <div class="custom-container">
        <div class="bonusesdiv">
            <div class="leftpart">
                <div>
                    <p class="first" data-aos="fade-up" data-aos-duration="500">Enjoy Your Life and Get More Bonuses.</p>
                    <p class="second" data-aos="fade-up" data-aos-duration="1000">
                    <picture class="">
                        <img src="https://link.me/public/frontend/business/images/svg/icon-1.svg" alt="VIP Ambassador Code" class="lazy">
                    </picture>
                    <span>VIP Ambassador Code</span>
                    </p>
                    <p class="second" data-aos="fade-up" data-aos-duration="1500">
                    <picture class="">
                        <img src="https://link.me/public/frontend/business/images/svg/icon-2.svg" alt="Surprise Bonuses" class="lazy">
                    </picture>
                    <span>Surprise Bonuses</span>
                    </p>
                    <p class="second" data-aos="fade-up" data-aos-duration="2000">
                    <picture class="">
                        <img src="https://link.me/public/frontend/business/images/svg/icon-3.svg" alt="Free Swag" class="lazy">
                    </picture>
                    <span>Free Swag</span>
                    </p>
                    <p class="second" data-aos="fade-up" data-aos-duration="2500">
                    <picture class="">
                        <img src="https://link.me/public/frontend/business/images/svg/icon-4.svg" alt="Sneak Peeks" class="lazy">
                    </picture>
                    <span>Sneak Peeks</span>
                    </p>
                    <a class="third hvr-pulse" href="https://ambassador.link.me" data-aos="fade-up" data-aos-duration="3000">Learn More</a>
                </div>
            </div>
            <div class="rightpart">
                <picture >
                    <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/bonuses.webp">
                    <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/bonuses.png">
                    <img src="https://link.me/public/frontend/business/images/compressedpng/bonuses.png" alt="Apple Watch" class="first lazy" data-aos="zoom-in" data-aos-duration="500">
                </picture>
                <picture >
                    <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/bonuses-1.webp">
                    <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/bonuses-1.png">
                    <img src="https://link.me/public/frontend/business/images/compressedpng/bonuses-1.png" alt="Linkme ambassador program" class="second lazy" data-aos="zoom-in-left" data-aos-duration="1000">
                </picture>
            </div>
        </div>
    </div>
</div>
<div class="bottomvideomaindiv mainsection" data-id="11">
    <div class="custom-container">
        <div class="bottomvideotitle">
            <p>Scan. Link. Shout!</p>
        </div>
        <div class="bottomvideodiv">
            <div class="videodiv">
                <div class="videoimagediv bottomvideoimagediv">
                    <picture>
                        <img src="https://link.me/public/frontend/business/images/compressedpng/play.png" alt="Play Button" class="playbtn hvr-pulse bottomplaypause lazy" id="bottomplaypause">
                    </picture>
                    <picture>
                        <source type="image/webp" srcset="https://link.me/public/frontend/business/images/compressedpng/vlcsnap.webp">
                        <source type="image/png" srcset="https://link.me/public/frontend/business/images/compressedpng/vlcsnap.png">
                        <img src="https://link.me/public/frontend/business/images/compressedpng/vlcsnap.png" alt="ScanLinkShout" class="backgroundbg lazy">
                    </picture>
                </div>
                <div class="videotag bottomvideotag" style="display:none;">
                    <video playsinline="" preload="none" controls="" id="bottompopupvideo">
                        <source src="https://s3linkme.s3.amazonaws.com/webvideos/youtube.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://link.me/public/frontend/business/plugin/owlcarousel/owl.carousel.js"></script>
<script>
$(document).ready(function () {
    AOS.init();
});
$(window).on("scroll", function () {
    AOS.init();
});
$(function () {
    $('.owl-carousel').on('initialized.owl.carousel translate.owl.carousel', function (e) {
        idx = e.item.index;
        $('.owl-item.big').removeClass('big');
        $('.owl-item.medium-left').removeClass('medium-left');
        $('.owl-item.medium-right').removeClass('medium-right');
        $('.owl-item').eq(idx).addClass('big');
        $('.owl-item').eq(idx - 1).addClass('medium-left');
        $('.owl-item').eq(idx + 1).addClass('medium-right');
    });

    var owl = $('.owl-carousel');
    owl.owlCarousel({
        nav: false,
        dots: false,
        loop: true,
        center: true,
        autoplay: true,
        autoplayTimeout: 800,
        autoplayHoverPause: true,
        responsive: {
            0: {
                margin: 10,
                items: 2.2
            },
            768: {
                margin: 70,
                items: 5
            },
            1000: {
                margin: 130,
                items: 5
            }
        }
    })
});

$(".topplaypause").click(function () {
    $('.videosecmaindiv .topvideooverlaydiv').hide();
    $('.topvideotag').show();
    $('.bottomvideotag video').trigger('pause');
});
$('.topvideotag video').bind('play', function (e) {
    $('.bottomvideotag video').trigger('pause');
});
var buttonclick = document.getElementById('topplaypause');
var myVideo = document.getElementById('toppopupvideo');
topplaypause.onclick = e => toppopupvideo.play();
buttonclick.addEventListener('click', function () {
    // buttonclick.style.visibility = 'hidden';
    if (window.matchMedia('(max-width: 767px)').matches) {
        if (myVideo.requestFullScreen) {
            myVideo.requestFullScreen();
        } else if (myVideo.webkitRequestFullScreen) {
            myVideo.webkitRequestFullScreen();
        } else if (myVideo.mozRequestFullScreen) {
            myVideo.mozRequestFullScreen();
        } else if (myVideo.msRequestFullscreen) {
            myVideo.msRequestFullscreen();
        } else if (myVideo.webkitEnterFullscreen) {
            myVideo.webkitEnterFullscreen();
        }
    }
}, false);

$(".bottomplaypause").click(function () {
    $('.bottomvideomaindiv .bottomvideoimagediv').hide();
    $('.bottomvideotag').show();
    $('.topvideotag video').trigger('pause');
});
$('.bottomvideomaindiv video').bind('play', function (e) {
    $('.topvideotag video').trigger('pause');
});
var buttonclick = document.getElementById('bottomplaypause');
var myVideo = document.getElementById('bottompopupvideo');
bottomplaypause.onclick = e => bottompopupvideo.play();
buttonclick.addEventListener('click', function () {
    // buttonclick.style.visibility = 'hidden';
    if (window.matchMedia('(max-width: 767px)').matches) {
        if (myVideo.requestFullScreen) {
            myVideo.requestFullScreen();
        } else if (myVideo.webkitRequestFullScreen) {
            myVideo.webkitRequestFullScreen();
        } else if (myVideo.mozRequestFullScreen) {
            myVideo.mozRequestFullScreen();
        } else if (myVideo.msRequestFullscreen) {
            myVideo.msRequestFullscreen();
        } else if (myVideo.webkitEnterFullscreen) {
            myVideo.webkitEnterFullscreen();
        }
    }
}, false);

// document.querySelector('.firstvideo video').playbackRate = 1.3;
// document.querySelector('.secondvideo video').playbackRate = 1.3;
// document.querySelector('.thirdvideo video').playbackRate = 1.3;
</script>
        <footer>
    <div class="custom-container">
        <div class="footerdiv">
            <div class="leftpart">
                <a href="javascript:;"><img src="https://link.me/public/frontend/business/images/svg/logo.svg" alt="Linkme Logo"></a>
            </div>
            <div class="centerpart">
                <div class="menulist">
                     <!--<a href="javascript:;">Features</a>-->
                    <a href="javascript:;">Press</a>
                    <a href="https://shop.link.me">Shop</a>
                    <a href="javascript:;">Community</a>
                    <a href="https://about.link.me/contact">Contact</a>
                    <a href="https://about.link.me">About Us</a>
                    <!--<a href="javascript:;">Help</a>-->
                </div>
                <div class="copyrightdiv">
                    <p>Copyright © 2022 Me Global App, Inc. All rights reserved.</p>
                </div>
            </div>
            <div class="rightpart">
                <div class="storeicon">
                    <a href="https://apps.apple.com/us/app/linkme-link-network-shout/id1577810510" target="_blank"><img src="https://link.me/public/frontend/business/images/svg/appstorebtn.svg" class="hvr-pulse" alt="Download on the App Store"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.linkme" target="_blank"><img src="https://link.me/public/frontend/business/images/svg/playstorebtn.svg" class="hvr-pulse" alt="Get it on Google Play"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://link.me/public/frontend/business/plugin/aos/aos.js"></script>
<script src="https://link.me/public/frontend/business/js/custom.js"></script>    </body>
</html>