body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background: linear-gradient(to bottom right, #a1c4fd, #c2e9fb);

        background-size: cover;
        background-repeat: no-repeat;
        animation: gradient 20s ease infinite;
        min-height: 100vh;
      }

      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
.blog-body img {
  max-width: 100%;
  height: auto;
}


      .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        background-image: url('<%= linkTree.backgroundImageUrl %>');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
      }

      .profile-picture {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid white;
        margin-top: 20px;
      }

      .name-pronoun-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }

      .name {
        font-size: 12px;
        margin-top: 10px;
      }

      .pronoun {
        font-size: 18px;
        color: gray;
      }

      .container-card {
        display: flex;
        justify-content: center;
      }

      .card {
  margin-top: 3px;
  margin-bottom: 50px;
  width: 80%;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 20px;
  border-radius: 15px;
}


      .card button {
        border: none;
        background-color: white;
        cursor: pointer;
        font-size: 20px;
        text-align: left;
        width: 100%;
        padding: 15px;
        display: flex;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      }
      .card button >a {
        text-decoration: none;
      }

      .card button:focus {
        outline: none;
      }

      .card button:hover {
        color: blue;
      }
      .icon-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}
/* Heart container */
.heart-container {
  position: fixed;
  top: -3px;
  left: -5px;
}
#heart-svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
  margin: 10px;
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut .3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.checkbox {
  display: none;
}

.checkbox:checked+label svg #heart {
  transform: scale(0.2);
  fill: #E2264D;
  animation: animateHeart .3s linear forwards .25s;
}

.checkbox:checked+label svg #main-circ {
  transition: all 2s;
  animation: animateCircle .3s linear forwards;
  opacity: 1;
}

.checkbox:checked+label svg #grp1 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp2 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp3 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp4 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp5 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp6 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp7 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #grp2 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp3 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp4 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp5 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp6 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #grp7 {
  opacity: 1;
  transition: .1s opacity .3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.share-icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.share-icon i {
  color: black;
  font-size: 18px;
}
      .share-icons {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.share-icons i {
  color: black;
  font-size: 18px;
        }
      .navbar {
      position: fixed;
      left: 10px;
      top: 10px;
      right: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.5); /* transparent white background */
  backdrop-filter: blur(10px);
      border-radius: 50px;
      padding: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      z-index: 10;
      opacity: 0;
      backdrop-filter: blur(68px);
      transition: opacity 0.3s ease-in-out;
    }

    .navbar.show {
      opacity: 1;
      position: fixed;
      top: 10px;
      padding: 5px;
      background-color: rgba(255, 255, 255, 0.5); /* transparent white background */
  backdrop-filter: blur(10px); 
      left: 10px;
      right: 10px;
      display: flex;
      border-radius: 50px;
      justify-content: space-between;
      align-items: center;
    }

    .navbar__profile {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .navbar__profile img {
      width: 40px;
      height: 40px;
      left: 5px;
      border-radius: 50%;
      object-fit: cover;
    }
      .my_name {
        font-size: 11px;
      }

    .navbar__share {
      display: flex;
      margin-right: 5px;
      flex-direction: flex-end;
      color: #444;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
    }

    .navbar__share:hover {
      color: #2f2f2f;
        }
      



      .dropdown-content {
        display: none;
        margin-top: 5px;
        padding: 15px;
        border-radius: 25px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: 90%;
        background-color: white;
        justify-content: center;
        text-align: center;
      }

      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid lightgray;
        font-size: 18px;
      }

      .dropdown-content a:last-child {
        border-bottom: none;
      }

      .dropdown-content a:hover {
        background-color: lightgray;
      }

      .show {
        display: block;
      }

      @media (max-width: 768px) {
        .card {
          width: 100%;
        }
      }
      .watermark {
        position: relative;
        margin-bottom: 15%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-size: 12px;
        color: gray;
      }